@require "../variables";

.link-button {
  & {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem;
    color: $black;
    font-weight: bold;
    border-radius: 3px;
    background-color: $lightgray;
    text-decoration: none;
  }

  &.-active {
    background-color: $lightblue;
  }
}
