@require "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg_gray;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

hr {
  border: none;
  border-bottom: 2px solid $black;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid $black;
  background: $lightgray;
  &:focus { background-color: $lightyellow; }
}

button {
  font-size: 1rem;
  padding: 0.5rem;
  background: none;
  border: 2px solid $black;
  border-radius: 3px;
  cursor: pointer;
  &:disabled {
    border-color: $lightgray;
    color: $lightgray;
  }
}
